torch
numpy
matplotlib
opt-einsum
line-profiler
einops
datasets
transformers
black
autoflake
plotly-express
performer-pytorch
neptune
fancy-einsum
pyyaml
fabric
GitPython
diskcache
wandb
protobuf
torchvision