torch==2.1.0
torchvision==0.16.0
protobuf==3.20.*
numpy==1.22.1
matplotlib==3.5.1
opt-einsum==3.3.0
line-profiler==4.0.3
einops==0.4.0
tensorflow==2.8.0; sys_platform != 'darwin'
tensorflow~=2.13.0; sys_platform == 'darwin'
datasets==2.14.6
transformers==4.29.1
apache-beam==2.47.0
black==23.1.0
autoflake==2.1.1
plotly-express==0.4.1
performer-pytorch==1.1.4
neptune==1.8.2
pyyaml==6.0
fancy-einsum==0.0.3
pyyaml==6.0
clearml-agent
clearml
fabric==3.2.1
GitPython==3.1.17
