# Tested with Python 3.11.7
torch==2.5.1
transformers==4.46.2
datasets==3.1.0
neptune==1.13.0
submitit==1.5.2
hydra-core==1.3.2
hydra-submitit-launcher==1.2.0
fabric==3.2.2
pydantic==2.10.4
torchdata==0.10.1
black==25.1.0