parent: configs/experiments/constrained_scaling_laws/25M/model.yaml
md5_parent_hash: 3067b2550c57a4b87c0c6a1287e6d902
time: "01:12:00"
n_gpus: 2
cpus_per_gpu: 16
params:
  name: "checkpoint_manager"
  tags: ["checkpoint_manager", "test"]
  expansion_rate: 4
  n_steps: 2600
  batch_size: 100
  cutoff: 256
  loss_checkpoint_chungs: 0
  save_weights_path: "./model_saves"
  checkpoint_manager: True
  logger_types: Null
  scheduler_trapezoidal_slides: "[{'n_steps':1000},{'n_steps':2000}]"
  scheduler: trapezoidal
  fsdp_enabled: True
  # save_weights_interval: 100

